<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nuhkoca.udacitymoviesapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".view.splash.SplashScreenActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.main.MovieActivity" />
        <activity
            android:name=".view.detail.MovieDetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".view.main.MovieActivity" />
        <activity
            android:name=".view.about.MovieAboutActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".view.main.MovieActivity" />
        <activity
            android:name=".view.favorite.FavoriteMoviesActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".view.main.MovieActivity" />

        <provider
            android:name=".helper.database.MovieContentProvider"
            android:authorities="com.nuhkoca.udacitymoviesapp"
            android:exported="false" />

        <activity
            android:name=".view.review.FullReviewActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".view.detail.MovieDetailActivity" />
        <activity
            android:name=".view.YoutubeActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:parentActivityName=".view.detail.MovieDetailActivity"/>
    </application>

</manifest>